server:
  port: 8080

spring:
  application:
    name: ApiGateway

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY:c528ba3b9bf887b6367e34761df7e6f1847cadf5a7b3e8820eac53ac96eca997}
  open-endpoints: /api/v1/auth/login, /api/v1/auth/register, /actuator/health

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health

user:
  service:
    url: ${USER_SERVICE_URL:http://localhost:8081}

auth:
  service:
    url: ${AUTH_SERVICE_URL:http://localhost:8082}

order:
  service:
    url: ${ORDER_SERVICE_URL:http://localhost:8083}